<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <!--URL that should be passed into the BusRESTCommunicator constructor-->
    <add key="FaceScale" value="1.09" />
    <add key="FaceNieghbors" value="6" />
    <add key="FaceMinSize" value="10" />
    <add key="FaceMaxSize" value="240"/>
    <add key="EyeScale" value="1.1" />
    <add key="EyeNieghbors" value="8" />
    <add key="EyeMinSize" value="8" />
    <add key="EyeMaxSize" value="80"/>
    <add key="faceTrainingFile" value="haar\haarcascade_frontalface_default.xml"/>
    <add key="eyeTrainingFile" value="haar\haarcascade_eye.xml"/>
  </appSettings>
</configuration>