<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!--URL that should be passed into the BusRESTCommunicator constructor-->
    <add key="FaceScale" value="1.08"/>
    <add key="FaceNieghbors" value="8"/>
    <add key="FaceMinSize" value="8"/>
    <add key="FaceMaxSize" value="200"/>
    <add key="EyeScale" value="1.02"/>
    <add key="EyeNieghbors" value="2"/>
    <add key="EyeMinSize" value="1"/>
    <add key="EyeMaxSize" value="35"/>    
    <add key="faceTrainingFile" value="haar\\haarcascade_frontalface_default.xml"/>
    <add key="eyeTrainingFile" value="haar\\haarcascade_eye.xml"/>
    <add key="faceTrainingFileCuda" value="haar_cuda\\haarcascade_frontalface_default.xml"/>
    <add key="eyeTrainingFileCuda" value="haar_cuda\\haarcascade_eye.xml"/>
    <add key="HasCuda" value="false"/>
  </appSettings>
</configuration>
